
.amarkal-shortcode-placeholder {
    font-size: 0;
    height: 70px;
    margin: 10px 0;
    background-color: whitesmoke;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    cursor: default;
    position: relative;
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 10px 10px;

    & > i {
        float: right;
        width: 20px;
        height: 20px;
        font-size: 20px;
        line-height: 1;
        font-family: dashicons;
        text-decoration: inherit;
        font-weight: 400;
        font-style: normal;
        vertical-align: top;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        border: 1px solid #a0a5aa;
        padding: 3px;
        margin: 3px;
        background-color: whitesmoke;
        cursor: pointer;
        color: transparent; /* Hide blinking cursor */

        &:hover {
            background-color: #dedfe0;
        }

        &:first-child {
            border-radius: 0 2px 2px 0;
            border-left: none;
            margin-left: 0;

            &::before {
                content: "\f158";
                color: #333333;
            }
        }
        
        &:last-child {
            border-radius: 2px 0 0 2px;
            border-right: none;
            margin-right: 0;

            &::before {
                content: "\f464";
                color: #333333;
            }
        }
    }

    &::after {
        content: attr(data-title);
        font-size: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: sans-serif;
        text-transform: uppercase;
    }

    &::before {
        content: attr(data-subtitle);
        font-size: 14px;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 4px;
        color: gray;
        text-align: center;
    }
}